<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>
{{ partial "top.html" . }}
          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content" class="pb-4">
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}

            <div class="container">
              <section class="bar">
                <div class="row">

                    <div class="col-md-12 col-lg-12">
                      <div class="heading">
                          <h2>{{ .Params.heading }}</h2>
                      </div>
                        <div>
                          {{ .Content }}
                        </div>

                    </div>

                </div>
                <!-- /.row -->
              </section>
            </div>
            <!-- /.container -->

            {{ end }}
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
